<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            margin: 40px;
        }

        .content {
            margin: 20px;
            padding: 10px;
        }
        .errordiv{
            color:red;
        }
        .successdiv{
            color:green;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

    </style>
</head>

<body>

  
    <div class="header">
        <h1>Dashboard </h1>
    </div>
    <div><%= sessionuser.firstName %></div>
    <br>
    <div class="sidebar">
        <a href="/dashboard">Home</a>
        <a href="/myposts">My posts </a>
        <a href="/settings">Settings</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="content">

        <h2>
            <%= title %>
        </h2>

        <div class="errordiv">
            <% if (error_messages.length > 0) { %>
                <ul>
                <% error_messages.forEach(error => { %>
                    <li><%= error %></li>
                <% }) %>
                </ul>
            <% } %>
        </div>
        <div class="successdiv">
            <% if (success_messages.length > 0) { %>
                <ul>
                    <% success_messages.forEach(message => { %>
                    <li><%= message %></li>
                    <% }) %>
                </ul>
            <% } %>
        </div>

        <form action="/updatepost" method="post">
            <label for="name">Title</label>
            <br>
            <input type="hidden" id="id" name="id" value="<%=editpost.id%>">
            <input type="text" id="title" name="title" value="<%=editpost.title%>">
            <br>
            <br>
            <label for="description">Description:</label>
            <br>
            <textarea cols="50" name="description"><%=editpost.content%></textarea>
            <br>
            <br>
            <input type="submit" value="Update">
        </form>


    </div>

</body>

</html>