<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            margin: 40px;
        }

        .content {
            margin: 20px;
            padding: 10px;
        }
    </style>
</head>

<body>

    <span>
        <%= sessionuser.firstName %>
    </span>
    <div class="header">
        <h1>Dashboard </h1>
    </div>

    <div class="sidebar">
        <a href="/dashboard">Home</a>
        <a href="/myposts">My posts </a>
        <a href="/settings">Settings</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="content">

        <form action="/creatpost" method="post">
            <label for="name">Title</label>
            <br>
            <input type="text" id="title" name="title">
            <br>
            <br>
            <label for="description">Description:</label>
            <br>
            <textarea cols="50" name="description"></textarea>
            <br>
            <br>
            <input type="submit" value="Add">
        </form>

        <h2>
            <%= title %>
        </h2>

        <div class="posts">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% let i = 1; %>
                    <% posts.forEach(function(post) { %>
                        <tr>
                            <td><%= i++; %></td>
                            <td><a href="postsview/<%= post.id %>"><%= post.title %></a></td>
                            <td><%= post.content %></td>
                            <td><a href="/deletepost/<%= post.id %>">delete</a></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>

        </div>

    </div>

</body>

</html>