<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            margin: 40px;
        }
        .content {
            margin: 20px;
            padding: 10px;
        }
    </style>
</head>
<body>

    <div class="header">
        <h1>Dashboard </h1>
    </div>
    <div><%= sessionuser.firstName %></div>
    <br>
    <div class="sidebar">
        <a href="/dashboard">Home</a>
        <a href="/myposts">My posts </a>
        <a href="/settings">Settings</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="content">
        
      <h2><%= title %></h2>

      <div class="posts">
        <p>Profile settings</p>

        <div class="errordiv">
            <% if (error_messages.length > 0) { %>
                <ul>
                <% error_messages.forEach(error => { %>
                    <li><%= error %></li>
                <% }) %>
                </ul>
            <% } %>
        </div>
        <div class="successdiv">
            <% if (success_messages.length > 0) { %>
                <ul>
                    <% success_messages.forEach(message => { %>
                    <li><%= message %></li>
                    <% }) %>
                </ul>
            <% } %>
        </div>

        <form action="/updateuser" method="post">
            <br>
            <label for="name">First Name:</label>
            <input type="hidden" id="id" name="id" value="<%=sessionuser.id%>">
            <input type="text" id="firstName" name="firstName" value="<%=sessionuser.firstName%>">
            <br>
            <br>
            <label for="name">Last Name:</label>
            <input type="text" id="lastName" name="lastName"  value="<%=sessionuser.lastName%>">
            <br>
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"  value="<%=sessionuser.email%>">
            <br>
            <br>
            <input type="submit" value="Update">
        </form>
         
      </div>
      
    </div>

</body>
</html>